<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mei.picker">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name="com.mei.picker.ui.ImagePickerActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.mei.video.ui.VideoPickerActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>
